---
- name: "update apt packages."
  become: yes
  apt:
    update_cache: yes

- name: "upgrade packages"
  become: yes
  apt:
    upgrade: yes


- name: remove dependencies that are no longer required
  become: yes
  apt:
    autoremove: yes

- name: "install dependencies."
  become: yes
  apt:
    name: ["nodejs", "npm"]
    state: latest
    update_cache: yes

- name: "install pm2"
  become: yes
  npm:
    name: pm2
    global: yes
    production: yes
    state: present

- name: Creates directory
  become: yes
  file:
    path: ~/backend
    state: directory
    mode: 0755

 #- name: Copy files
 # ansible.builtin.copy:
 #   src: /root/project
 #   dest: /build-backend

#- name: Extract Artefact into /build-backend
#  ansible.builtin.unarchive:
#    src: /build-backend/artifact.tar.gz
#    dest: /build-backend

- name: copy artifact files
  become: yes
  copy:
    src: ~/project/artifact.tar.gz
    dest: ~/backend/artifact.tar.gz

- name: Extract backend files
  become: yes
  shell: |
    cd ~/backend
    tar -vxf artifact.tar.gz

- name: Executing node
  shell: |
    cd ~/backend 
    pm2 start npm -- start
    cd dist
    pm2 start main.js --update-env